<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping InfoCena</title>

    {% load django_bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    <link rel="stylesheet" 
        href="{% static '/css/estilo.css' %}" />
</head>
<body>
    <div class="container">
        {% include 'menu.html' %}
        {% block content %}
        {% endblock %}
    </div>

</body> 
    {% bootstrap_javascript %}
</html>