<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> <!--Corpo da página -->
    <!--
        Esta é 
        a 
        página 
        de 
        cadastro
    -->
    <form method="post">
        {{ formulario }}
        {% csrf_token %}
        <input type="submit" value="Gravar" />
        <input type="reset" value="Limpar" />
    </form>

    <script>
        document.addEventListener("DOMContentLoaded", function(){
      
            var mailMudar = document.getElementById('id_nome');
            var pass = document.getElementById('id_telefone');
      
           mailMudar.onfocus = pass.onfocus = mailMudar.oninput = pass.oninput = function(){
               if(this.id == "id_nome"){
                  mailMudar.setCustomValidity(!mailMudar.value ? 'Preencha o e-mail' : '');
               }else if(this.id == "id_telefone"){
                  pass.setCustomValidity(!pass.value ? 'Preencha a senha' : '');
               }
           }
        });
        </script>
</body>
</html>