{% extends 'interna.html' %}

{% block content %}
    <!--
        Esta é 
        a 
        página 
        de 
        cadastro
    -->
    {% if mensagem %}
        <script>
            var msg = '{{ mensagem }}';
            alert(msg);
        </script>
    {% endif %}
    {% load django_bootstrap5 %}
    <form method="post">
        {% bootstrap_form formulario %}
        {% csrf_token %}
        <input type="submit" value="Gravar" class="btn btn-primary" />
        <input type="reset" value="Limpar" class="btn btn-secondary" />
    </form>

    <script>
        document.addEventListener("DOMContentLoaded", function(){

/*            
            document.getElementById("id_nome").removeAttribute("placeholder");
            document.getElementById("id_telefone").removeAttribute("placeholder");
            document.getElementById("id_numero").removeAttribute("placeholder");
 */     
            var mailMudar = document.getElementById('id_nome');
            var pass = document.getElementById('id_telefone');
      
           mailMudar.onfocus = pass.onfocus = mailMudar.oninput = pass.oninput = function(){
               if(this.id == "id_nome"){
                  mailMudar.setCustomValidity(!mailMudar.value ? 'Preencha o e-mail' : '');
               }else if(this.id == "id_telefone"){
                  pass.setCustomValidity(!pass.value ? 'Preencha a senha' : '');
               }
           }
        });
        </script>
{% endblock %}