{% extends 'interna.html' %}

{% block content %}
    <h1>Produtos</h1>
    <a href="{% url 'incluir_produto' %}"
        class="btn btn-primary">Incluir</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Preço</td>
                <td>Ações</td>
            </tr>
        </thead>
        <tbody>
            {% for p in produtos %}
            <tr>
                <td>{{ p.nome }}</td>
                <td>{{ p.preco }}</td>
                <td>
                    <a href="{% url 'alterar_produto' p.id %}"
                        class="btn btn-secondary">
                        Alterar
                    </a>
                    <a href="{% url 'excluir_produto' p.id %}"
                        onclick="return excluir()"
                        class="btn btn-danger">
                        Excluir
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}