<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lojas</title>
</head>
<body>
    <h1>Lojas</h1>
    
    <a href="{% url 'incluir_loja' %}">Incluir</a>
    <table>
        <thead>
            <tr>
                <td>Nome</td>
                <td>Telefone</td>
                <td>Ações</td>
            </tr>
        </thead>
        <tbody>
            {% for l in lojas %}
            <tr>
                <td>{{ l.nome }}</td>
                <td>{{ l.telefone }}</td>
                <td><a href="{% url 'alterar_loja' l.id %}">
                        Alterar
                    </a> 
                    <!---->
                    <a href="{% url 'excluir_loja' l.id %}"
                       onclick="return excluir()">                    
                        Excluir
                    </a>
                </td>
            </tr>    
            {% endfor %}
        </tbody>
    </table>
</body>
<script>
    function excluir(){
        return confirm("Deseja excluir?");
    }
</script>
</html>