<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Produtos</h1>
    <a href="{% url 'incluir_produto' %}">Incluir</a>

    <table>
        <thead>
            <tr>
                <td>Nome</td>
                <td>Preço</td>
                <td>Ações</td>
            </tr>
        </thead>
        <tbody>
            {% for p in produtos %}
            <tr>
                <td>{{ p.nome }}</td>
                <td>{{ p.preco }}</td>
                <td> Alterar Excluir</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>